{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvienue dans ce blog !</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, est rerum placeat pariatur voluptas veniam consequuntur? Magnam totam nihil consequuntur quidem voluptas accusantium saepe in pariatur cupiditate sapiente maxime nobis non deleniti nulla dolores tempore quod, reprehenderit culpa veniam ad.</p>
<p>Accusantium fuga modi itaque voluptatum, nesciunt sequi molestiae sed esse ex eum nihil corporis dolorem impedit? Itaque vitae modi non quis minima necessitatibus facere perspiciatis nam amet eos. Iusto temporibus ipsam explicabo voluptatem dolorum commodi sit impedit doloribus illo at.</p>
{% endblock %}